<h1>
  <%= I18n.t 'activities.header' %>
</h1>

<p><a class="btn btn-primary" href="<%= new_activity_path %>"><%= I18n.t 'activities.btn.add' %></a></p>

<h2><%= I18n.t 'activities.daily' %></h2>
<%= bar_chart @daily_breakdown.chart_data, stacked: true %>

<h2><%= I18n.t 'activities.weekly' %></h2>
<%= pie_chart @weekly_breakdown.chart_data %>
