<!DOCTYPE html>
<html>
<head>
  <title>Timeshare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_user %>
  <p>Hello, <%= current_user.email %> <a href="<%= logout_path %>">log out</a></p>
  <% else %>
  <p>No User, <a href="<%= login_path %>">login</a></p>
  <% end %>
</div>

<%= yield %>

</body>
</html>
